body {
  font-size: 12px;
  background: #181818;
  color: yellow;
  font-family: 'HelveticaNeue', Helvetica, serif;
  font-weight: 100;
}
h1 {
  font-weight: 100;
  display: flex;
  justify-content: flex-start;
  margin-left: 10vw;
}
header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'HelveticaNeue', Helvetica, serif;
  font-size: 3em;
  margin: 3em;
  color: #ff7b7b;
}

text {
  fill: white;
}

svg {
  position: relative;
}

path {
  fill: #ffd800;
  /*! fill-opacity: .2; */
}

path:hover {
  fill: brown;
  fill-opacity: .7;
}
#map-canvas-2014 {
  left: 0;
  right: 0;
  margin: 0 auto 5em auto;
  width: 80vw;
  height: 75vh;
}
#map-canvas-2014 path {
  color: #2262CC;
  fill: #F00;

}
#map-canvas-2014 path:hover {
  color: #2262CC;
  opacity: 0.6;
  fill: #2262CC;
}
#map-canvas-2015 {
  left: 0;
  right: 0;
  margin: 0 auto 5em auto;
  width: 80vw;
  height: 75vh;
}
#map-canvas-2015 path {
  color: #2262CC;
  fill: #F00;

}
#map-canvas-2015 path:hover {
  color: #2262CC;
  opacity: 0.6;
  fill: #2262CC;
}
#map-canvas-2016 {
  left: 0;
  right: 0;
  margin: 0 auto 5em auto;
  width: 80vw;
  height: 75vh;
}
#map-canvas-2016 path {
  color: #2262CC;
  fill: #F00;

}
#map-canvas-2016 path:hover {
  color: #2262CC;
  opacity: 0.6;
  fill: #2262CC;
}
#map-canvas-2018 {
  left: 0;
  right: 0;
  margin: 0 auto 5em auto;
  width: 80vw;
  height: 75vh;
}
#map-canvas-2018 path {
  color: #2262CC;
  fill: #F00;

}
#map-canvas-2018 path:hover {
  color: #2262CC;
  opacity: 0.6;
  fill: #2262CC;
}
