img {
  max-width: 70%;
  height: auto;
  align-items: center;
  display: block;
  margin: 0 auto 1em auto;
  border-radius: 10px;
  -webkit-box-shadow: -1px 10px 33px -2px rgba(0,0,0,0.4);
  -moz-box-shadow: -1px 10px 33px -2px rgba(0,0,0,0.4);
  box-shadow: -1px 10px 33px -2px rgba(0,0,0,0.4);
}

.center-buttons {
    display: flex; 
    justify-content: space-evenly; 
    width: 100%;
    margin: 1.5em 0 1em 0;

  }
.left-button{
    display: flex;
    justify-content: center;
    padding: 1em;
    border: 1px solid black;
}
.right-button{
    display: flex;
    justify-content: center;
    padding: 1em;
    border: 1px solid black;
}

.left-button:hover{
    background-color: #fff2e6;
}
.right-button:hover{
    background-color: #fff2e6;
}
.body-paragraph {
    font-family: HelveticaNeue;
    font-size: 1.5rem;
    padding: 2rem;
    line-height: 1.5;
    color: black;
}

.center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20%;
}

p {
  margin:0;
}

a {
  color: #7d2c2c !important;
  text-decoration: underline !important;
}

.none {
    color: #000 !important;
    text-decoration: none !important;
}

@media only screen and (max-width: 400px) {
  .center-text {
    margin: 0 5%;
  }
  .body-paragraph {
    font-size: 18px;
  }
  .left-button {
    font-size: 14px;
    padding: 1rem;
  }
  .right-button {
    font-size: 14px;
    padding: 1rem;
  }
  .gallery-card {
    display: flex;
    flex-direction: column;
    font-size: 12px !important;
  }
  .img {
      width: 100%;
  }
}
.gallery-card {
    font-size: 14px;
    color: #565875;
    padding: 1em 1em !important;
    background: #ffffff;
    margin: 0 0 2em 0;
    border-radius: 10px;
}